<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>姓名案例_计算属性</title>
	<script src='../vue.js'></script>
</head>
<body>
<div id="root">
	姓: <input type="text" v-model="firstname" placeholder="输入姓"><br>
	名: <input type="text" v-model="lastname" placeholder="输入名">
	<h3>全名:{{ fullName }}</h3>
</div>
</body>
<!--
		计算属性:
		1.定义:要用的属性不存在，要通过已有属性计算得来
		2.原理:底层借助了Object.defineproperty方法提供的getter和setter
		3.get函数什么时候执行？
				(1) 初次读取时会执行一次
				(2) 当依赖的数据发生变化时会被再次调用
		4.优势:与methods相比，内部有缓存机制(复用)，效率更高，调试方便
		5.备注:
			1.计算属性最终出现在vm上，直接读取使用即可
			2.set  当fullName被修改时
-->
<script>
	Vue.config.productionTip = false
	const vm = new Vue({
		el: '#root',
		data: {
			firstname: '张',
			lastname: '振涛'
		},
		computed: {
			fullName: {
				// get()的作用:当有人读取fullName时，get就会被调用，且返回值就作为fullName的值
				// get什么时候被调用:
						// 1.初次读取fullName时
						// 2.所依赖的数据发生变化时
				get() {
					//此处的this是vm
					return this.firstname + '-' + this.lastname
				},
				//set  当fullName被修改时
				set(value){
					const arr = value.split('-')
					this.firstname = arr[0];
					this.lastname = arr[1];
				}
			}
		}
	})
</script>
</html>